.App {
  text-align: center;
 font-weight: bolder;
  color: rgb(0, 153, 255);
  font-size: large;
  
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  gap: 0,5rem;
}

input{
color:brown;
font-size: large;

}

button {
color:brown;
font-size: large;
}

.delete {
  color: red;
  cursor: pointer;
}
.checkbox{
  font-size: large;
  color:red
}
input:checked + span {
  text-decoration: line-through;
}